# API Keys
SportsMonksAPIKey=
CricketDataAPI=
APISportsKey=
RapidAPIKey=

# Base URLs
AFL_BASEURL=
NFL_BASEURL=
F1_BASEURL=
OPENF1_BASEURL=
CRICKET_BASEURL=
GOLF_BASEURL=
NRL_BASEURL=
SOFASCORE_API_BASEURL=
FOOTBALL_BASEURL=
BASEBALL_BASEURL=
BASKETBALL_BASEURL=
TENNIS_BASEURL=
ICE_HOCKEY_BASEURL=
RUGBY_UNION_BASEURL=
NETBALL_BASEURL=
CYCLING_BASEURL=

# Feature Flags
DEV_MODE=true

# Dataverse
DATAVERSE_ENVIRONMENT_URL=
DATAVERSE_TENANT_ID=
DATAVERSE_CLIENT_ID=
DATAVERSE_CLIENT_SECRET=